.about{
    text-align: left;
}


.logo{
    font-size: 50px;
    color: blue;
    font-style:inherit;
    margin: 0;
    padding: 0;
}

.tell{
    font-size: 25px;
}

.form{
    border: 1px solid black;
    margin: 0 700px 0 700px;
    background-color: whitesmoke;
    box-shadow: 5px 10px;
    border-radius: 3%;
}


.stuff{
    
    text-align: center;
    
}

.hr{
    margin: 10px 30px 10px 30px;
}

.submit{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(89, 0, 255);
    border-radius: 4%;
}


.regis{
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    background-color: green;
    border-radius: 4%;
}

.user-name , .user-password{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    justify-items: baseline;
}

.footer{
    text-align: center;
}